::selection{
    background-color: #fff;
    color: #5e5c5c;
}

.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    border-top: 3px solid #FFF;
    border-right: 3px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    z-index: 99999;
  }
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 

  html{
    scroll-behavior: smooth;
  }

body{
    background-color: #000000;
    color: #f9f6f6 !important;
    overflow-x: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* overflow: hidden; */
    /* height: 10000px; */
}

.nav-tab{
    background-color: #0D0D0D;
}

.logo{
    width: 50px;
}

i{
    cursor: pointer;
}

.movie{
    position: relative;
    overflow: hidden;
    z-index: 2;
    transition: all 1s ease-in-out;

}

.cardImage{
    /* position: relative;  */
    /* z-index: 1;   */
    overflow: hidden;
}

img{
    width: 100%;
    /* position: relative; */
    display: block;
    z-index: 11;
    transition: all .7s ;
}
.movie:hover img{
    transform: scale(1.2) rotate(5deg);
    filter: blur(2px);
    /* transform: rotate(10deg); */
    
}

.layer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    position: absolute;
    z-index: 999;
    overflow: hidden;
    transition: all .7s ease-in-out;
    /* display: inline-block; */
}

p{
    font-weight: 200;
    font-size: 16px;
    color: #EDEDED;
}
h1{
    font-weight: 400;
    font-size: 35px;
}
h3{
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    margin-top: 5px;
}

.icon{
    width: 40px;
    height: 40px;
    border: 2px solid green;
    font-size: 17px;
}

.movie:hover .layer{
    opacity: 1;
    /* transition: opacity 1s; */
}



.side-nav-menu{
    z-index: 99;
}

.cursor-pointer{
    cursor: pointer;
}



a{
    text-decoration: none;
    color: #fff;
    transition: all .3s;
}

a:hover{
    position: relative;
    /* top: -1px; */
    color: #ff655c ;
}
.links span:hover{
    position: relative;
    /* top: -1px; */
    color: #ff655c ;
}

.logo{
    width: 30px;
}



::placeholder{
  color: #5e5c5c !important;
}

.animate__animated{
    --animate-duration: 1s;
    display: none;
}

.movie:hover .animate__animated{
    /* visibility: visible;  */
    display: block;

}

:root {
    --animate-duration: 800ms;
    --animate-delay: 0.9s;
  }


/* /////////////////////////////////////// */
#contact .form-control
{
    box-shadow: none;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    border-color: #CED4DA;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    color: #fff;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}
#contact .form-control::placeholder
{
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none;
}
input[type=number] {
    -moz-appearance: textfield;
    appearance: none;
  }

.form-btn
{
    background-color: #000;
    color: #fff;
    padding: 10px 25px;
    transition: all 0.2s ease-in-out;
    border: none;
}
.form-btn:hover
{
    color: #000;
    background-color: #F8F6F6 ;
}

.invalid{
    background-color: #DC3545;

}

.invalid:hover{
    background-color: #DC3545;
    color: #F8F6F6 ;

}

#btn-up{
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 999999;
    display: none;
}

.ttn {
    position: absolute;
    left: 5px;
    bottom: -60px;
    transition: left 0.5s;
    /* margin-top: 20px; */
    /* margin-bottom: 65px !important; */
    /* display: none; */
}


/* .btnUp i{
    position: relative;
    z-index: 999999;
}

.btnUp i::after{
    content: "";
    border: 15px navy solid;
    width: 30px;
    height: 30px;
    position: absolute;
    border-radius: 50%;
    bottom: 2px;
    right: 5px;
    z-index: 222222;
} */



.shake-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    margin-bottom: 200px;
    /* cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px; */
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both ;
    /* transform: translate3d(0, 0, 0); */
    /* backface-visibility: hidden; */
    /* perspective: 1000px; */
}

@keyframes shake {
    10%, 90% { transform: translate3d(-1px, 0, 0); }
    20%, 80% { transform: translate3d(2px, 0, 0); }
    30%, 50%, 70% { transform: translate3d(-4px, 0, 0); }
    40%, 60% { transform: translate3d(4px, 0, 0); }
}

/* .hover-button:hover {
    animation: move-left-right 2s forwards;
}

@keyframes move-left-right {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(-50px);
    }
    100% {
        transform: translateX(0px);
    }
} */

.txt{
    color: #DC3545;

}

@media screen and (max-width : 576px) {
    .nav-header{
        background-color: transparent !important;
    }
    
    .nav-header .open-close-icon{
        color: #fff !important;
        font-size: x-large !important;
    }

    .nav-header .fa-globe ,
    .fa-share-nodes{
        color: transparent;
    }
    
}