.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    border-top: 3px solid #FFF;
    border-right: 3px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    z-index: 99999;
  }
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 

  html{
    scroll-behavior: smooth;
  }

body{
    background-color: #000000;
    color: #f9f6f6 !important;
    overflow-x: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* overflow: hidden; */
    /* height: 10000px; */
}

.nav-tab{
    background-color: #0D0D0D;
}

.logo{
    width: 50px;
}

i{
    cursor: pointer;
}

.movie{
    position: relative;
    overflow: hidden;
    z-index: 2;
    transition: all 1s ease-in-out;

}

.cardImage{
    /* position: relative;  */
    /* z-index: 1;   */
    overflow: hidden;
}

img{
    width: 100%;
    /* position: relative; */
    display: block;
    z-index: 11;
    transition: all .7s ;
}
.movie:hover img{
    transform: scale(1.2) rotate(5deg);
    filter: blur(2px);
    /* transform: rotate(10deg); */
    
}

.layer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    position: absolute;
    z-index: 999;
    overflow: hidden;
    transition: all .7s ease-in-out;
    /* display: inline-block; */
}

p{
    font-weight: 200;
    font-size: 16px;
    color: #EDEDED;
}
h1{
    font-weight: 400;
    font-size: 35px;
}
h3{
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    margin-top: 5px;
}

.icon{
    width: 40px;
    height: 40px;
    border: 2px solid green;
    font-size: 17px;
}

.movie:hover .layer{
    opacity: 1;
    /* transition: opacity 1s; */
}



.side-nav-menu{
    z-index: 99;
}

.cursor-pointer{
    cursor: pointer;
}



a{
    text-decoration: none;
    color: #fff;
    transition: all .3s;
}

span:hover{
    position: relative;
    /* top: -1px; */
    color: #ff655c ;
}
a:hover{
    position: relative;
    /* top: -1px; */
    color: #ff655c ;
}

.logo{
    width: 30px;
}



::placeholder{
  color: #5e5c5c !important;
}

.animate__animated{
    --animate-duration: 1s;
    display: none;
    /* opacity: 0; */
    /* visibility: hidden; */
    /* transition: all 2s ease-in-out; */
    /* animation: infinite;   */
    /* --animate-delay: 9s; */
}

.movie:hover .animate__animated{
    /* visibility: visible;  */
    display: block;
    /* opacity: 1; */
    /* --animate-delay: 9s; */
    /* animation: infinite;   */
}

:root {
    --animate-duration: 800ms;
    --animate-delay: 0.9s;
  }


/* /////////////////////////////////////// */
#contact .form-control
{
    box-shadow: none;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    border-color: #CED4DA;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    color: #fff;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}
#contact .form-control::placeholder
{
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none;
}
input[type=number] {
    -moz-appearance: textfield;
    appearance: none;
  }

.form-btn
{
    background-color: var(--main-color);
    color: #fff!important;
    padding: 10px 25px;
    transition: all 0.2s ease-in-out;
    border: none;
}
.form-btn:hover
{
    color: #000!important;
    background-color: #F8F6F6;
}
.showPass
{
    background-color: transparent;
    position: absolute;
    right: 10px;
    bottom: -20px;
    cursor: pointer;
    opacity: 0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}
.error
{
    color: rgb(214, 46, 51);
    position: absolute;
    font-weight: 700;
}

#btn-up{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999999;
    display: none;
}